@charset "UTF-8";
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:400,700");
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@-webkit-keyframes fade {
  from {
    display: -webkit-box;
    display: flex;
  }
  to {
    display: none;
  }
}

@keyframes fade {
  from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  to {
    display: none;
  }
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #290002;
  font-weight: 400;
  background: #EAE8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3, p, figure {
  margin: 0;
}

a {
  color: #A50008;
  font-weight: 700;
}

a:active {
  color: #710006;
}

.section__title {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-size: 4rem;
  color: #450306;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.section__subtitle {
  font-size: 1.69rem;
  color: #350003;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1.5em;
  font-style: "Nunito", sans-serif;
  line-height: 1;
  opacity: .4;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
}

.section__title, .section__subtitle {
  text-align: center;
}

.current-lang {
  border-bottom: 1px solid white;
}

.svg {
  z-index: 1000;
  background: #EAE8E8;
  height: 100%;
  width: 100%;
  padding: 20%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade 500ms forwards;
  -webkit-animation-delay: 3s;
  -webkit-animation: fade 500ms 3s forwards;
          animation: fade 500ms 3s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.section--home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/ibukibg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/ibukibg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 0;
  margin-top: 61px;
  width: 100%;
  min-height: 100vh;
}

.home__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-weight: 200;
  font-family: "Nunito", sans-serif;
  opacity: .8;
  position: relative;
  text-shadow: 1px 1px 3px 255, 255, 255, 0.4;
  padding: 1em;
}

.logo--home {
  width: 300px;
  margin: 0 auto 2em;
  opacity: .65;
}

.nav-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding-bottom: 1em;
  z-index: 99;
  color: #F3D1D2;
}

.nav-desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin: 1em auto 0;
  padding: 0;
  max-width: 800px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-desktop ul::before {
  content: url("/img/ibuki.png");
  position: absolute;
  top: -70%;
  left: -15em;
  bottom: 0;
  -webkit-transform: scale(0.08);
          transform: scale(0.08);
  opacity: .4;
}

.nav-desktop a {
  color: #F3D1D2;
  text-decoration: none;
}

.nav-desktop a:hover {
  border-bottom: 1px solid #A50008;
}

.nav-desktop .trads {
  position: absolute;
  font-size: 1rem;
  top: 15px;
  right: 3%;
}

/* NAV MOBILE */
.nav-mobile::before {
  content: 'IBUKI TRAINING';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 23%;
  left: 1em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
}

.nav-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding-bottom: 1em;
  z-index: 99;
  color: #F3D1D2;
  height: 63px;
}

.nav-mobile ul {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: left;
  list-style: none;
  background: black;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  border-bottom-right-radius: 10px;
}

.nav-mobile ul li {
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: 1em;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.nav-mobile ul li a {
  color: #F3D1D2;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-mobile ul li a:hover {
  color: #A50008;
}

.nav-toggle:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ ul li {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  cursor: pointer;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

#span-2 {
  display: none;
}

.nav-toggle-label #span-2 {
  height: 0px;
}

.nav-toggle-label #span-2::before, .nav-toggle-label #span-2::after {
  content: '';
  position: absolute;
}

.nav-toggle-label #span-2::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle-label #span-2::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-toggle:checked ~ .nav-toggle-label #span-2 {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label #span-1 {
  display: none;
}

.section--goals {
  width: 100%;
}

.section--goals .section__description {
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
}

.grid-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90vw;
  margin-top: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-element__item {
  margin: 0 1em;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.grid-element__item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 15px;
}

.grid-element__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 4px;
  color: #450306;
  text-align: center;
  text-shadow: none;
}

.grid-element__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: italic;
  font-size: .9rem;
  text-align: center;
  opacity: .6;
}

.grid-element__description {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
}

.grid-element figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 270px;
  height: 700px;
  margin-top: 2em;
}

.grid-element figure figcaption {
  margin: 1.5em;
  padding: 1em;
  width: 100%;
}

.section--testimonies {
  background: #CFCBCB;
  width: 100%;
  padding: 4em 0;
}

.section--testimonies ~ .bottom {
  border-top: 1px solid #710006;
}

.testimony-middle {
  width: 90%;
  max-width: 1400px;
  position: relative;
}

.testimony-middle__quote {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
}

.testimony-middle__author {
  text-align: right;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: 1rem;
  padding-right: 30px;
}

.testimony-middle::before {
  content: '“';
  position: absolute;
  top: -90%;
  left: -50px;
  font-size: 7em;
  font-family: "Nunito", sans-serif;
  opacity: .3;
}

.testimony-middle::after {
  content: '”';
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 7em;
  font-family: "Nunito", sans-serif;
  opacity: .3;
}

.testimony-bottom {
  width: 90%;
  max-width: 1400px;
  display: -ms-grid;
  display: grid;
}

.testimony-bottom__quote {
  font-family: "Nunito", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.2)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
  font-size: .9rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: quote;
  text-align: justify;
  margin-top: 1em;
  border: 1px solid #EAE8E8;
  border-radius: 20px;
  padding: 1em;
}

.testimony-bottom__author {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: .8rem;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: author;
  opacity: .8;
}

.testimony__one, .testimony__three {
      grid-template-areas: 'quote quote quote quote .' 'author author . . .';
  -ms-grid-columns: (1fr)[4] 3fr;
      grid-template-columns: repeat(4, 1fr) 3fr;
  position: relative;
}

.testimony__two {
      grid-template-areas: '. quote quote quote quote' '. . . author author';
  -ms-grid-columns: 3fr (1fr)[4];
      grid-template-columns: 3fr repeat(4, 1fr);
  position: relative;
}

.testimony__two .testimony-bottom__author {
  text-align: right;
}

.section--about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
}

.bio__content {
  margin-top: 2em;
  text-align: justify;
  line-height: 1.5em;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

.bio__content p {
  margin-top: 1em;
}

.bio__picture {
  text-align: center;
  padding: 2em;
}

.bio__picture--image {
  border-radius: 50%;
}

.back {
  margin-top: 4em;
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section--about {
  padding-bottom: 0;
}

.contact {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #710006;
  padding: 9px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  min-width: 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
}

.section--contact {
  width: 100%;
}

footer {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background: black;
  margin: 0;
  color: #F3D1D2;
}

footer p {
  margin: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.logo--footer {
  width: 50px;
  margin: 20px;
  opacity: 1;
}

@media (max-width: 850px) {
  .section--home {
    background-position: 65% 50%;
  }
  .nav-desktop ul::before {
    content: none;
  }
  .your {
    display: none;
  }
  .home__text {
    width: 100%;
  }
  .grid-element {
    text-align: center;
  }
  .grid-element__item {
    margin: 0;
  }
  .grid-element figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    height: auto;
  }
  .testimony-middle::before {
    content: none;
  }
  .testimony-middle::after {
    content: none;
  }
  .testimony-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section--about__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bio {
    display: block;
  }
  .bio__picture {
    padding: 0;
    padding-top: 2em;
  }
  .bio__picture--image {
    width: 290px;
  }
}

@media (max-width: 321px) {
  .contact {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .nav-desktop {
    display: none;
  }
  .logo--home {
    width: 140px;
  }
  .section--home {
    margin-top: 2em;
  }
}

@media (min-width: 650px) {
  .nav-mobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */