
.section--about__title{
    display:flex;
    flex-direction: column;
    align-items: center;

    
}

.bio{

    display:flex;
    align-items: center;
    justify-content: center;
    width: 90vw;

    &__content{
        margin-top: 2em;
        text-align: justify;
        line-height: 1.5em;
        font-family: $ff-body;
        font-size: 1.2rem;
        p
        {margin-top: 1em;}
    }

    &__picture{
        text-align: center;
        padding: 2em;
        &--image{
            border-radius: 50%;
            
        
        }
    }
}

.back{
    margin-top: 4em;
    width:100%;
    max-height: 400px;
    object-fit: cover;
}

.section--about{
    padding-bottom: 0;
}