.contact{
    text-align: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-family: $ff-quote;
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-link;
    padding: 9px;
}

.social-media{
    display:flex;
    width: 40%;
    min-width: 250px;
    justify-content: space-around;
    font-size: 3rem;
}

.section--contact{
    width: 100%;
}

