footer{
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: black;
    margin:0;
    color: $color-light-brown;
    p{
        margin: 20px;
        font-family: $ff-body;
        font-size: 1rem;
    }
}

.logo--footer{
    width: 50px;
    margin: 20px;
    opacity: 1;
}

