*, *::before, *::after{
    box-sizing: border-box;
}

.section{
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    align-items: center;
    width: 60vw;

    &__title,
    &__subtitle{
        text-align: center;
    }
}

.current-lang{
    border-bottom: 1px solid white;
}