.section--goals{
    width: 100%;

    .section__description{
        margin-top: 1em;
        font-family: $ff-title;
        font-size: 1.1rem;
    }

}



.grid-element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 90vw;
    margin-top: 1em;
    justify-content: center;

    &__item{
        margin: 0 1em;
        box-shadow: 0 0 10px 0px rgba(black, 0.5);
        border-radius: 15px;
    }

    &__item img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        padding: 10px;
        border-radius: 15px;
    }
    
    &__title{
        font-family: $ff-title;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 4px;
        color: $color-title;
        text-align: center;
        text-shadow: none;
    }

    &__subtitle{
        font-family: $ff-title;
        font-style: italic;
        font-size: .9rem;
        text-align: center;
        opacity: .6;
    }

    &__description{
        font-family: $ff-body;
        font-size: 1rem;
        text-align: center;
        margin-top:1em;
    }

    figure{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        max-width: 270px;
        height: 700px;
        margin-top: 2em;
        
    }

    figure figcaption{
        margin: 1.5em;
        padding: 1em;
        width: 100%;
    }


}
