

.svg{
    z-index: 1000;
    background: $color-background;
    height: 100%;
    width: 100%;
    padding: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
      
    -webkit-animation: fade 500ms forwards;
    -webkit-animation-delay:  3s;
    animation: fade 500ms 3s forwards;
    
@-webkit-keyframes fade {
    from {
      opacity:1;
    }
  
    to {
      opacity:0;
      z-index: -1;
    }
  }
  
  @keyframes fade {
    from {
        opacity:1;
      }
    
      to {
        opacity:0;
        z-index: -1;
      }
    }
}


.section--home{
    background: {
        image: 
            linear-gradient(
            rgba(0, 0, 0, 0.65), 
            rgba(0, 0, 0, 0.65)
            ),
            url(../img/ibukibg.jpg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 0;
    margin-top: 61px;
    width: 100%;
    min-height: 100vh;
}

.home__text{
    display:flex;
    width: 650px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: $ff-body;
    opacity: .8;
    position:relative;
    text-shadow: 1px 1px 3px (255,255,255,.4);
    padding: 1em;
}

.logo--home{
    width: 300px;
    margin: 0 auto 2em;
    opacity: .65;
}


