.nav-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding-bottom: 1em;
  z-index: 99;
  color: $color-light-brown;
  
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 1em auto 0;
    padding: 0;
    max-width: 800px;
    font-family: $ff-body;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
    
    &::before{
        content: url("/img/ibuki.png");
        position: absolute;
        top:-70%;
        left:-15em;
        bottom:0;
        transform: scale(.08);
        opacity: .4;
    }
  }

  a {
    color: $color-light-brown;
    text-decoration: none;
    


    &:hover {
      border-bottom : 1px solid $color-link-active;
    }
  }

  .trads{
    position:absolute;
    font-size: 1rem;
    top: 15px;
    right: 3%;
  }
}



/* NAV MOBILE */


.nav-mobile::before{
  content:'IBUKI TRAINING';
  width:100%;
  height: 100%;
  position:absolute;
  top: 23%;
  left: 1em; 
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
}  
.nav-mobile{
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding-bottom: 1em;
  z-index: 99;
  color: $color-light-brown;
  height: 63px;
    
    ul{
      position: absolute;
      top: 100%;
      right: 0;
      text-align: left;
      list-style: none;
      background: black;
      transform: scale(1,0);
      transform-origin: top;
      transition: transform 400ms ease-in;
      border-bottom-right-radius: 10px;

      li{
        margin-bottom: .5em;
        margin-left: 1em;
        margin-right: 1em;
        opacity: 0;
        transition: opacity 150ms ease-in-out;

        a{
          color: $color-light-brown;
          text-decoration: none;
          text-transform: uppercase;

          &:hover{
            color: $color-link-active;
          }
        }
      }
    }
}

.nav-toggle:checked ~ ul{
  transform: scale(1,1);
}

.nav-toggle:checked ~ ul li{
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle{
  display:none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  right: 1em;
  height: 100%;
  display:flex;
  align-items: center;
  margin-left: 1em;  
  cursor: pointer;
  
  span, span::before, span::after{
    display: block;
    background: white;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
  }

  span::before, span::after{
    content: '';
    position: absolute;
  }

  span::before{
    bottom: 8px;
  }

  span::after{
    top: 8px;
  }
}

#span-2{
  display:none;
}

.nav-toggle-label{
  #span-2{
    height: 0px;
  }

  #span-2::before, #span-2::after{
    content: '';
    position: absolute;
  }

  #span-2::before{
    top: 0;
    transform: rotate(45deg);
  }

  #span-2::after{
    top: 0;
    transform: rotate(-45deg);
  }
}

.nav-toggle:checked ~ .nav-toggle-label #span-2 {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label #span-1 {
  display: none;
}