.section--testimonies{
    background: $color-quote-bg;
    width: 100%;
    padding: 4em 0;
    ~ .bottom {border-top: 1px solid $color-link;}
}

.testimony-middle{
    width: 90%;
    max-width: 1400px;
    position:relative;

    &__quote{
        font-family: $ff-quote;
        font-style: italic;
        font-size: 1.2rem;
    }

    &__author{
        text-align: right;
        font-family: $ff-quote;
        font-style: italic;
        font-size: 1rem;
        padding-right: 30px;
    }

    &::before{
        content: '“';
        position: absolute;
        top:-90%;
        left: -50px;
        font-size: 7em;
        font-family: $ff-quote;
        opacity: .3;
    }

    &::after{
        content: '”';
        position: absolute;
        top: 0;
        right: -30px;
        font-size: 7em;
        font-family: $ff-quote;
        opacity: .3;
    }

}

.testimony-bottom{
    width: 90%;
    max-width: 1400px;
    display:grid;
    

    &__quote{
        font-family: $ff-quote;
        background-image: linear-gradient(rgba(255, 255, 255, .3),rgba(255, 255, 255, 0.2));
        font-size: .9rem;
        grid-area: quote;
        text-align: justify;
        margin-top: 1em;
        border: 1px solid $color-background;
        border-radius: 20px;
        padding: 1em;
        
    }

    &__author{
        text-align: left;
        font-family: $ff-quote;
        font-style: italic;
        font-size: .8rem;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        grid-area: author;
        opacity: .8;
    }
}

.testimony__one, .testimony__three{
    grid-template-areas: 
    'quote quote quote quote .'
    'author author . . .'; 
    grid-template-columns:  repeat(4, 1fr) 3fr;  
    position: relative; 
}

.testimony__two{
    grid-template-areas: 
    '. quote quote quote quote'
    '. . . author author';
    grid-template-columns:  3fr repeat(4, 1fr);
    position: relative;

    .testimony-bottom__author{
       text-align: right;
    }

}