@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:400,700');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: $ff-body;
    font-size: 1.25rem;
    line-height: 1.6;
    color: $color-primary;
    font-weight: $fw-normal;
    background: $color-background;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p, figure{
    margin: 0;
}

a{
    color: $color-link-active;
    font-weight: $fw-bold;
    &:active{
        color: $color-link;
    }
}

.section__title{
    font-family: $ff-title;
    line-height: 1;
    font-size: 4rem;
    color: $color-title;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

.section__subtitle{
    font-size: 1.69rem;
    color: $color-subtitle;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1.5em;
    font-style: $ff-body;
    line-height: 1;
    opacity: .4;
}
