$color-subtitle: #350003;	// Main Primary color */
$color-primary: #290002;
$color-title: #450306;
$color-link: #710006;
$color-link-active: #A50008;

$color-greyish-brown: #997C7B;
$color-light-brown: #F3D1D2;

$color-background: #EAE8E8;
$color-quote-bg: #CFCBCB;