@media (max-width: 850px){

    .section--home{
        background-position: 65% 50%;
        }


    .nav-desktop{
        ul{
            &::before{
                content: none;
            }
        }
    }

    .your{
        display:none;
    }



    .home__text{
        width: 100%;
    }

    .grid-element{
        text-align: center;
        
        &__item{
            margin: 0;
        }
        figure{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: auto;
        }
    }


    .testimony-middle{
    
        &::before{
            content: none;
        }
    
        &::after{
            content: none;
        }
    
    }

    .testimony-bottom{
        display:flex;
        flex-direction: column;
    }



    .section--about__title{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .bio{
        display:block;
        &__picture{
            padding: 0;
            padding-top: 2em;
            
            &--image{
                width: 290px;
            }
        }
    }
}

@media (max-width: 321px){
    .contact{
        font-size: 1.2rem;
    }

    footer{
        p{
            font-size: 0.8rem;
            text-align: center;
        }
    }
}


@media (max-width: 650px){
    .nav-desktop{
        display:none;
    }

    .logo--home{
        width: 140px;
    }

    .section--home{
        margin-top: 2em;
    }
}

@media (min-width: 650px){
    .nav-mobile{
        display:none;
    }
}